# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

#webpack
.webpack
.build


# Optional npm cache directory
.npm
.npmignore
.nvmrc

# husky
.husky

# Optional eslint cache
.eslintcache

# Serverless directories
.serverless/

# DynamoDB Local files
.dynamodb/

# Local .terraform directories
**/.terraform

# .tfstate files
**/*.tfstate
**/*.tfstate.*

**/*.lock.hcl